{%extends "homepage.html" %}
{%block content%}
<table class ="table">
    <tr><th>Item ID</th><th>Book Name</th><th>Image</th>
    <th>Description</th><th>Book Price</th>
    <th>Quantity</th><th>Sub Total</th><tr>
        {%for item in items%}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.book.book_name}}</td>
        <td>
            <img src="{{item.book.image_url.url}}" style="width:70px;height:60px;" class="img_circle"/>

        </td>
        <td>{{item.book.description}}</td>
        <td>{{item.book.price}}</td>
        <td>{{item.qty}}</td>
        <td>
            
        </td>
    </tr>
    {%endfor%}
</table>
<h3>Total: {{request.session.total}}</h3>
{%endblock%}